.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg {
    width: 740%;
    height: auto;
    top: -200%;
    transform: rotateX(180deg) !important;
    object-fit: fill;
  }

  .solid-logo {
    position: absolute;
    top: 3.6rem;
    right: auto;
    bottom: auto;
    left: 0.1rem;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(0deg) !important;
    z-index: 1;
  }

  .person-logo {
    position: absolute;
    top: 2rem;
    right: auto;
    bottom: auto;
    left: -5rem;
    margin: auto;
    width: 120%;
    opacity: 0;
    transform: rotateZ(0deg) !important;
    z-index: 1;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}